<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <h3>Filter</h3>
    <form class="well" (submit)="addFilter($event)">
        <div class="form-group">
             <mat-form-field>
    <input matInput placeholder="Input" type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Add tasks">
    <br/>
    <mat-checkbox [(ngModel)]="status" name="status" class="form-control" >Check me!</mat-checkbox>
         </mat-form-field>
            <!-- <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Add tasks"> -->
            <button mat-raised-button color="accent" type = "submit">Apply</button>
        </div>
    </form>
    </mat-drawer>
    <mat-drawer-content>


<mat-progress-bar *ngIf="showSpinner"mode="query"></mat-progress-bar>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" color="primary">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="payment_id">
        <th mat-header-cell *matHeaderCellDef> payment_id </th>
        <td mat-cell *matCellDef="let element"> {{element.payment_id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="customer_id">
        <th mat-header-cell *matHeaderCellDef> customer_id </th>
        <td mat-cell *matCellDef="let element"> {{element.customer_id}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="staff_id">
        <th mat-header-cell *matHeaderCellDef> Department </th>
        <td mat-cell *matCellDef="let element"> {{element.staff_id}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="rental_id">
        <th mat-header-cell *matHeaderCellDef> rental_id </th>
        <td mat-cell *matCellDef="let element"> {{element.rental_id}} </td>
    </ng-container>
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> amount </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>

            <ng-container matColumnDef="payment_date">
                <th mat-header-cell *matHeaderCellDef>payment_date </th>
          <td mat-cell *matCellDef="let element"> {{element.payment_date}} </td>
            </ng-container>

                <ng-container matColumnDef="last_update">
                    <th mat-header-cell *matHeaderCellDef> last_update </th>
    <td mat-cell *matCellDef="let element"> {{element.last_update}} </td>
                </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-drawer-content>
</mat-drawer-container>